
.login-box {
    height: auto;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 3em;
    margin-top: 15px;
    font-weight: bold;
    color: #000;
}

.login-form {
    margin-top: 10px;
    text-align: left;
    padding: 10px;
}

/* profile */

.profile-data {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.profile-data .title {
    font-weight: bold;
}

.form-control:disabled, .form-control:read-only {
    background-color: inherit;
    opacity: 1;
}


.payment .payment-button {
    width: 100% !important;
}

.payment .payment-button >  button {
    width: 100% !important;
    margin: 10px 0px;
    height: 50px;
    border: none;
    outline: none;
}

.payment > .payment-button > button span {
    background-image: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
}
